{% load static %}

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 overflow-hidden" href="#">
        {% for v in videos %}
      <a data-fancybox="gallery" class="relative block bg-black group m-1" href="https://www.youtube.com/watch?v={{v.iframe}}&autoplay=1&rel=1&showinfo=1">
        <img class="absolute inset-0 object-cover w-full h-full transition-opacity opacity-75 group-hover:opacity-40" src="{{v.thumbnail}}">
        <div class="relative p-8">
          <div class="mt-64">
            <div class="transition-all transform translate-y-8 opacity-100 group-hover:opacity-100 group-hover:translate-y-0">
              <p class="text-md text-white">
                {{v.title}}
              </p>
            </div>
          </div>
        </div>
      </a>
    {% endfor %}

      </div>
    <nav aria-label="Page navigation" class="mt-8">
      <ul class="flex justify-center page-list">
        {% if videos.has_previous %}
        <li><a name="{{ videos.previous_page_number }}"><button id="{{ videos.previous_page_number }}" name="page_nav" onclick= "loadmore_early(this.id)" class="h-10 px-5 text-gray-700 transition-colors duration-150 bg-white rounded-l-lg focus:shadow-outline hover:bg-indigo-100">Prev</button></a></li>
        {% endif %}
        <li><button id="current_page" class="h-10 px-5 text-white transition-colors duration-150 bg-gray-700 focus:shadow-outline">{{ videos.number }}</button></li>
        {% if videos.has_next %}
        <li><a name="{{ videos.next_page_number }}"><button id="{{ videos.next_page_number }}" name="page_nav" onclick= "loadmore_early(this.id)" class="h-10 px-5 text-gray-700 transition-colors duration-150 bg-white rounded-r-lg focus:shadow-outline hover:bg-indigo-100">Next</button></a></li>
        {% endif %}
      </ul>
    </nav>